html {
    overflow: hidden;
}

body {
    overflow: hidden;
    font: 12px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1 {
    margin: 0;
}

.wrapper {
    text-align: center;
}

.game {
    display: inline-block;
    text-align: left;
}
